<nav class="navbar navbar-expand-lg navbar-light navRow">
    <a class="navbar-brand logo" href="#">
        <img src="/images/icono_nav.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto sizeNav ">
            <li class="nav-item active spaceNav">
                <a class="nav-link textWhite" href="/">Home</a>
            </li>
            <li class="nav-item active spaceNav">
                <a class="nav-link textWhite " href="/users">Dishes</a>
            </li>
            <li class="nav-item active spaceNav">
                <a class="nav-link textWhite" href="/#formFooter">Form</a>
            </li>
        </ul>
    </div>
</nav>