<nav class="navbar navbar-expand-lg navbar-light bg-light fondoNav">
    <a class="navbar-brand" href="#">
        <img class="logoNav" href="/" src="/images/iconoLogo.png" alt="">
    </a>
    <a class="navbar-brand textWhite" href="/login">Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon colorIconNav"></span>
    </button>
    <div class="collapse navbar-collapse menuAlingNav" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         
        <a class="nav-link textWhiteMenu" href="/">Home</a>
        <a class="nav-link textWhiteMenu" href="/#formFooter">Form</a>
        <a class="nav-link textWhiteMenu" href="/dish/formSpeciality">Upload Speciality</a>
  
    </div>
    </div>
  </nav>
